.btn-primary{
    padding: 16px;
    background-color: $azul;
    border-radius: 8px;
    line-height:150%;
    color: $branco;
    font-weight: 400;
}

.btn-secondary{
    color: $branco;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid $branco;
}